<!-- If user is logged in: Greeting + Logout button -->

<% if (user !== undefined) { %>
<center>
  <h4 style = "font-family: Courier New; font-weight: 500;">Hello, <%= user.email %></h4>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
</center>
<% } else { %>

<!-- If user not logged in: Login + Register buttons -->
<center>
  <a href = "/login"><button type ="submit">Login</button></a>
  <a href = "/register"><button type ="submit">Register</button></a>
</center>

<% } %>

<!-- divider line -->

<br>
  <div style="margin-left:-8px;margin-right:-8px"><hr style="color:Black;background-color:Black;border:0;width:100%;height:1px;" />
  </div>
<br>






