<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <a href = "/urls">
        <h1 style="color: purple; font-size: 20px; font-family: 'comic sans ms';">
            TinyApp
        </h1>
    </a>
</body>
</html>