<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <a href = "/urls">
        <h2 style="color: blue; font-family: sans-serif; font-weight: 300;">
            TinyApp
        </h2>
    </a>

  <form action="/login" method="POST">
      <input id="username" type="text" name="username" placeholder="Username" style="width: 150px;">
      <input type="submit" value="Login">
  </form>
  <br><br>

</body>
</html>