<a href = "/login"><button type ="submit">Login</button></a>
<a href = "/register"><button type ="submit">Register</button></a>
<form action="/logout" method="POST"><input type="submit" value="Logout"></form>

<br><br>

