<!DOCTYPE html>

<html lang="en">
<head>
</head>
  <header>
    <center style = "margin-top: 100px;">
      <a href = "/urls">
      <h2 style="font-family: sans-serif; font-weight: 300;">TinyApp</h2>
      </a>
    </center>
  </header>
  <center>
  <body style="background-color: #f9f9f9;">
  <p style = "font-family: Courier New; font-weight: 300; padding: 20px;">Welcome to TinyApp, please login or register:</p>
  <a href = "/login"><button type ="submit">Login</button></a>
  <a href = "/register"><button type ="submit">Register</button></a>
</center>
  </body>
</html>