<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
    <center>
    <body style="padding:50px; background-color: #f9f9f9;">

  <header>
    <center>
      <a href = "/urls">
        <h2 style="font-family: sans-serif; font-weight: 300;">TinyApp</h2>
      </a>
    </center>
  </header>

  <!-- Login form -->

    <form action="/login" method="POST" style="margin:75px;">
      <h2 style = "font-family:sans-serif; font-weight: 300;">Hi there!</h2></label>
        <div><input id="email" type="email" name="email" placeholder="Your email" style="width: 300px"></div>
        <div><input id="password" type="password" name="password" placeholder="Your password" style="width: 300px"></div>
        <div><input type="submit" value="Login" style="width: 305px"></div>
    </form>

    <p style = "font-size: 14px; font-family: sans-serif; font-weight: 300;">Don't have an account yet? <a href = "/register">Create one</a>

  </body>
</html>