<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
  <body style="background-color: #f9f9f9;">

  <header>
    <center style = "margin-top: 100px;">
      <a href = "/urls">
        <h2 style="font-family: sans-serif; font-weight: 300;">TinyApp</h2>
      </a>
    </center>
  </header>

  <!-- Registration form -->
  <center>
    <form action="/register" method="POST" style="margin:75px;">
      <h2 style = "font-family:sans-serif; font-weight: 300;">Make an account:</h2></label>
        <div><input id="email" type="email" name="email" placeholder="Your email" style="width: 300px"></div>
        <div><input id="password" type="password" name="password" placeholder="Your password" style="width: 300px"></div>
        <div><input type="submit" value="Register" style="width: 300px"></div>
    </form>

    <p style = "font-size: 14px; font-family: sans-serif; font-weight: 300;">Already have an account? <a href = "/login">Login</a>

  </center>
</body>
</html>