<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
  <header>
    <a href = "/urls">
      <h2 style="color: blue; font-family: sans-serif; font-weight: 300;">TinyApp</h2>
    </a>
    <% include ./partials/_header %>
  </header>

<!-- Displays short URL and a form to edit the long URL -->

  <h2 style = "font-family: sans-serif; font-weight: 300;">Short URL:  <a href = "<%= longURL %>"><%= shortURL %></a></h2>
  <form action="/urls/<%= shortURL %>" method="POST">
      <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 250px;">
      <input type="submit" value="Update">
  </form>

</body>
</html>