<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
  <body style="background-color: #f9f9f9; padding:50px; font-size:18px; padding:50px;">

  <header>
  <center>
    <a href = "/urls">
      <h3 style="font-family: sans-serif; font-weight: 300;">TinyApp</h3>
    </a>
  </center>
  <% include partials/_header %>
  </header>

<!-- Displays a form where someone can input a new long URL + submit -->
  <center>
    <form action="/urls" method="POST" style="margin:65px;">
      <label for="longURL"><h3 style = "font-family:sans-serif; font-weight: 300;">Enter a URL:</h3></label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </center>
</body>
</html>