<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
<header>
  <a href = "/urls">
    <h2 style="color: blue; font-family: sans-serif; font-weight: 300;">TinyApp</h2>
  </a>
    <% include ./partials/_header %>
</header>
<p><div>
  <ul style="list-style-type:none;">
      <% for(var key in urls) { %>
      <li>
        <%= key %>: <%= urls[key] %>
          <form method="POST" action="/urls/<%= key %>/delete">
            <input style = "padding: 10px" type="submit" value="Delete">
          </form>
        <a href="/urls/<%= key %>"><button type ="submit">Edit</button></a>
      </li>
      <% } %>
  </ul>
</p></div>
<p style = "font-family: sans-serif; font-weight: 300;">
  <a href = "urls/new">Shorten a new URL</a>
</p>

</body>
</html>